.tm-logo {
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

.nav-item .current{
  color: #4EA7FF;
}

.gallery{
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.all-pictures{
  padding-left: 20px;
}

.gallery img{
  transition: 1s;
  padding: 15px;
  width: 250px;
}

.gallery img:hover{
  filter: brightness(80%);
  transform: scale(1.1);
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 580px; /* Should be removed. Only for demonstration */
}
.rowCol{
  margin-left: auto;
  margin-right: auto;
  width:450px;
}
/* Clear floats after the columns */
.rowCol:after {
  content: "";
  display: table;
  clear: both;
}

.tm-gallery-img-container {
    position: relative;
    width: 100%; /* for IE 6 */
}

.tab{
  margin-left: 60px;
  margin-right: 60px;
}

.nav-link-trips{
  display: block;
  max-width: 25%;
  margin: auto;
  margin-bottom: 15px;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #e7e7e7;
  color: black;
  text-align: center;
}

.nav-link-trips:hover {
  background: #e7e7e7;
}

.img-fluid-tm-gallery-img{
    position: relative;
    float: left;
    width:  300px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

@media only screen and (max-width: 500px) {
  .tm-img-grid{
    margin-left: 10%;
  }
}
.wrapper{
  text-align: center;
}

.grid{
    position: relative;
    float: middle;
    width:  360px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

#tm-footer {
bottom: 0;
width: 100%;
background: #1a1a1a;
}

#tm-footer-text {
 color: white;
}

footer img{
  padding-top: 3px;
}
